/*Google Fonts*/


/*div recognition cheat sheet*/
nav, #profile, #quick_links
    {
        border: 1px dashed red;
    }

/*Style guide cheat sheet

dark blue:  #281D54
blue:       #294294
dark gold:  #D9A925
gold:       #FAC739
grey:       #C7C7C7

/* Reset Style Rules */
HTML, *
    {
        padding:0;
        margin:0;
        border:0;
    }

/* HTML Container Style Rules*/
html
    {
        min-height: 100%;
        background:linear-gradient(#281D54 ,#294294 20%,80%, #281D54);
    }
/* Text Rules */
h2
    {
        color: #fac739;
    }
a
    {
        color: #fac739;
    }
p
    {
        color:#C7C7C7;
    }
/* Class Rules */
.button_link
    {
        display:block;
        border: 3px solid #fac739;
        background-color:#294294;
        padding: 10px 24px;
        width:max-content;
    }

/* List Rules*/
header li, #quick_links li
    {
        list-style-type: none;
        margin: 0 0 2em; /*Margin needed for button spacing in mobile view*/
    }
header a, #quick_links a
    {
        text-decoration:none;
    }
/*Grid Container Rules*/
main
{
    display:grid;
    grid-template-columns: 1fr;
    margin:0 5% 0 5%;
}
/* Nav Rules */
nav
    {
        display:flex;
        flex-direction: column;/*flex-direction should change with screen size*/
        justify-content: center;
        width:max-content;
        margin:auto;
        
    }
nav ul
    {
        /*display:none;*/
        border: 1px dashed blue;
        width:max-content;
        display:flex;
        flex-direction:column;/*flex direction for the button array, seperate from the nav array*/
        
    }