/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Noto+Sans+Display:wght@500;600&family=Noto+Sans:wght@500;600&family=Roboto&display=swap');
/*div recognition cheat sheet*/
nav,.page_banner, #profile, #quick_links, #contact_resume, #contact_email, #contact_more, #bio_display, #bio_story_select, #motion_project_select
    {
        border: 1px dashed red;
    }

/*Debuging div sizes cheat sheet*/
.test_div
    {
        background-color: bisque;
    }
/*Style guide cheat sheet

dark blue:  #281D54
blue:       #294294
dark gold:  #D9A925
gold:       #FAC739
grey:       #C7C7C7

/* Reset Style Rules */
HTML, *
    {
        padding:0;
        margin:0;
        border:0;
    }
/*General Rules for all Devices, sorted by HTML Semantic Structure */

/* Body Container Style Rules*/
body
    {
        min-height: 100%;
        background:linear-gradient(#281D54 ,#294294 20%,80%, #281D54);
        color:#C7C7C7;
        font-family: 'Roboto', sans-serif;
    }
/* Text Rules */
h1, h2, h3
    {
        color: #fac739;
        font-family: 'Noto Sans Display', sans-serif;
    }
a
    {
        color: #fac739;
        text-decoration:none;
    }
p
    {
        color:#C7C7C7;
    }
/* Class Rules */

.button_link
    {
        display:block;
        border: 3px solid #fac739;
        background-color:#294294;
        padding: 10px 24px;
        width:3.5em;
        text-align:center;
        font-family: 'Noto Sans Display', sans-serif;
        font-weight: 500;
    }
.button_link_sub
    {
        display:block;
        border: 3px solid #fac739;
        background-color:#294294;
        padding:5px 0 5px 0;
        width: 80px;
        text-align:center;
        font-family: 'Noto Sans Display', sans-serif;
        font-weight: 500;
    }
.project_section_select
    {
        display:flex;
    }
.project_section_select button   
    {
        width: 3em; 
        height: 3em;
        border: 2px solid #FAC739;
        background-color: #294294;
        margin:0 10px;
    }
.resource_list ul, .tag_select ul, .project_select ul
    {
        display:flex;
        text-decoration: none;
        overflow-x:scroll;
    }
.resource_list li, .tag_select li, .project_select li
    {
        margin: 0 10px;
    }
.resource_list button, .tag_select button
    {
        color:#FAC739;
        border: 3px solid #fac739;
        background-color:#294294;
        padding:5px 0 5px 0;
        width: 80px;
        text-align:center;
        font-family: 'Noto Sans Display', sans-serif;
        font-weight: 500;
    }
.project_select button
    {
        background: none;
    }
.project_select img
    {
        width: 80px;
        height:auto;
        border: 3px solid #FAC739;
    }
/* List Rules*/
header li, #quick_links li, footer li,#contact_more li, #bio_story_select li, .resource_list li, .tag_select li, .project_select li, .project_section_select li
    {
        list-style-type: none;
    }
header a, #quick_links a, footer a
    {
        text-decoration:none;
    }

/* Header Rules */
nav
    {
        display:flex;
        width:100%;
    }
nav button
    {
        margin:15px;
        width:75px;
        height:75px;
        border: 2px solid #FAC739;
        background-color: #294294;
    }
nav ul
    {
        /*display:none;*/
        border: 1px dashed blue;
        width:max-content;
        display:flex;
    }

/* Main Rules */


/* Footer Rules */
footer
    {
        background-color: #281D54;
    }
/* Layout Rules based on Screen Sizes */
/* Follows Similar Semantic Structure as General Rules */

/* Mobile View: 0px to 750px */

/* Main Rules/Grid Rules */
main    
    {
        width: 100%;
        text-align: center;
    }
#home_grid
    {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 6fr 7fr;
        margin:auto;
        width:90%;
        height:min-content;
        margin-bottom: 10px;
    }
#contact_grid
    {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 5fr 3fr;
        margin:auto;
        width:90%;
        height:min-content;
        margin-bottom: 10px;
    }
#bio_grid
    {
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 2fr 3fr 2fr 1fr;
        margin:auto;
        width:90%;
        height:min-content;
        margin-bottom: 30px;
    }
#motion_grid
    {
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 2fr 3fr 1fr 3fr 3fr;
        margin:auto;
        width:90%;
        height:min-content;
        margin-bottom: 30px;
    }
/* Header Rules */
/* Nav Layout */
nav
    {
        flex-direction: column;/*flex-direction should change with screen size*/
        align-items: center;/*note to self: align-items rule for adjusting on the horizontal axis, justify-content for vertical*/
        margin:auto;
    }
nav ul
    {
        flex-direction:column;/*flex direction for the button array, seperate from the nav array*/
    }
nav li
    {
        margin: 0 0 2.5em;
    }
/* Body Rules */
.page_banner
    {
        grid-column:1;
        grid-row:1/span1;
        width:100%;
    }
/* index mobile rules */
#profile
    {
        grid-column:1;
        grid-row:2/span1;
        width: 100%;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
#profile h1, #profile p
    {
        text-align: center;
    }
#profile img
    {
        width:200px;
        height:auto;
    }
#quick_links
    {
        display:flex;
        flex-direction: column;
        grid-row: 3 /span 1;
        grid-column: 1/ span 1;
        width:100%;
        overflow-x:hidden;
        
    }
#quick_links h2
    {
        text-align:center;
        margin:5px 0 5px;
    }
#quick_links ul, #contact_more ul
    {
        display:flex;
        flex-direction:row;
        align-items:center;
        overflow-x:scroll;
        margin:0 0 15px;
    }
.quick_links_list li
    {
        margin: 0 0 10px;
    }
.quick_links_item
    {
        margin: 0 10px;
    }
#quick_links ul img
    {
        width: 80px;
        height:auto;
        border: 3px solid #FAC739;
    }
/* contact mobile rules */
#contact_resume
    {
        width:100%;
        grid-column:1;
        grid-row: 2/ span 1;
        margin:0 0 10px;
    }
#contact_resume p
    {
        margin: 0 0 10px;
    }
#contact_resume a
    {
        text-decoration: underline;
    }
#contact_email
    {
        width:100%;
        grid-column:1;
        grid-row: 3/ span 1;
        margin:0 0 10px;
    }
#contact_more
    {
        width:100%;
        grid-column:1;
        grid-row: 4/ span 1;
        margin:0 0 10px;
    }
.accordion
    {
        color:#FAC739;
        background-color: #294294;
        width:100%;
        border: 3px solid #FAC739;
        font-family: 'Noto Sans Display', sans-serif;
        font-weight: 600;
        font-size:1em;
        padding: 5px 0 5px;
    }
.accordion_panel
{
    padding:15px 0 10px;
    
}
/* bio mobile rules*/
#bio_grid .page_banner
    {
        grid-column: 1/span 3;
        grid-row:1/span1;
        width:100%;
    }
#bio_grid .arrow-left
    {
        grid-column: 1/span 1;
        grid-row:2/span1;
        /*code snippet from https://css-tricks.com/snippets/css/css-triangle/*/
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        
        border-right:10px solid #FAC739; 
    }
#bio_interactive
    {
        grid-column: 2/span 1;
        grid-row:2/span1;
        width:100%;
        height:15em;
        display:flex;
        flex-direction: column;

        border: 1px dashed orange;
    }
#bio_interactive img
    {
        height:90%;
        object-fit: contain;
    }
#bio_grid .arrow-right
    {
        grid-column: 3/span 1;
        grid-row:2/span1;
        /*code snippet from https://css-tricks.com/snippets/css/css-triangle/*/
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        
        border-left: 10px solid #FAC739;
    }
#bio_description
    {
        grid-column: 1/span 3;
        grid-row:3/span1;
        width:100%;
        font-family: 'Alegreya', serif;
    }
#bio_story_select
    {
        grid-column: 1/span 3;
        grid-row:4/span1;
        width:100%;
        overflow-x:scroll;
    }
#bio_story_select ul
    {
        display:flex;

    }
#bio_story_select li
    {
        margin: 0 10px 0;
    }
.bio_story_button
    {
        width:80px;
        background:none;
    }
.bio_story_button img
    {
        max-width: 100%;
        height:auto;
        border: 3px solid #FAC739;
    }
/* Motion Page Rules*/
#motion_grid .page_banner
    {
        grid-column: 1/span 3;
        grid-row:1/span1;
        width:100%;
    }
#motion_grid .arrow_left
    {
        grid-column: 1/span 1;
        grid-row:2/span1;
        width: 3em; 
        height: 3em;
        border: 2px solid #FAC739;
        background-color: #294294;
    }
#motion_interactive
    {
        grid-column: 2/span 1;
        grid-row:2/span1;
        width:100%;
        height:15em;
       
    }
#motion_grid .arrow_right
    {
        grid-column: 3/span 1;
        grid-row:2/span1;
        width: 3em; 
        height: 3em;
        border: 2px solid #FAC739;
        background-color: #294294;
    }
#motion_grid .project_section_select
    {
        grid-column: 2/span 1;
        grid-row: 3/span 1;
    }
#motion_description
    {
        grid-column: 1/span 3;
        grid-row:4/span1;
    }
#motion_project_select
    {
        grid-column: 1/span 3;
        grid-row:5/span1;
    }
/* Footer Rules */
footer
    {
        display:flex;
        flex-direction:column;
        align-items:center;
        height:3em;
        justify-content: center;
        padding-bottom: 10px;
    }
footer p
    {
        margin: 0 0 5px;
    }
footer ul
    {
        display:flex;
    }
footer li   
    {
        margin: 0 0 0 1em;
    }
/* Tablet View: 751px to 1279px */

/* Header Rules */

/* Body Rules */

/* Footer Rules */

/* Desktop View: 1280px to 1920px */

/* Header Rules */

/* Body Rules */

/* Footer Rules */
